{% extends 'base.html' %}

{% block content %}

<h1 class="my-5">Add Post for {{user.full_name()}}</h1>

<form class="col-4" method="POST" action="/users/{{ user.id }}/posts/new">
  <div class="form-group row">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      
    />
  </div>
  <div class="form-group row">
    <label for="content">Content</label>
    <input
      type="text"
      class="form-control"
      id="content"
      name="content"
    />
  </div>

  <div class="form-group text-right">
    <a href="/users" class="btn btn-outline-info">Cancel</a>
    <button type="submit" class="btn btn-success">Add</button>
  </div>
</form>

{% endblock %}
