{% extends 'base.html' %}

{% block content %}

<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>by {{post.user.full_name()}}</p>


<form>
        <button class="btn btn-primary btn-sm" formaction="/users/{{post.user.id}}" formmethod="GET">Cancel</button>
        <button class="btn btn-danger btn-sm" formaction="/posts/{{post.id}}/edit" formmethod="get">Edit</button>
        <button class="btn btn-danger btn-sm" formaction="/posts/{{post.id}}/delete" formmethod="POST"> Delete</button>
</form>

{% endblock %}
