{% extends 'base.html' %} 

{% block content %}
<div>
  <h1>{{ tag.name }}</h1>
  <ul>
    {% for post in tag.posts %}
    <li>
      <a href="posts/{{ post.id }}>">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <form>
    <button
      class="btn btn-info btn-sm"
      formaction="/tags/{{ tag.id }}/edit"
      formmethod="get">
      Edit
    </button>
    <button
      class="btn btn-danger btn-sm"
      formaction="/tags/{{ tag.id }}/delete"
      formmethod="POST">
      Delete
    </button>
  </form>
</div>

{% endblock %}
